<div class="content">
  <div class="card-header">
    <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
    <div class="header mb-5">
      <div class="image-container">
        <img alt="logo" src="img/modo_logo.png" />
      </div>
    </div>
  </div>

  <div class="card-body">
    <form (keydown)="enterSubmit($event)" [formGroup]="loginForm">
      <div class="d-flex flex-column gap-4">
        <div class="card flex justify-content-center">
          <p-floatlabel>
            <input id="username" pInputText formControlName="username" />
            <label for="username">Username</label>
          </p-floatlabel>
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
          </div>
        </div>

        <div class="card flex justify-content-center">
          <span class="p-float-label">
            <p-floatlabel>
              <p-password id="password" [feedback]="false" [toggleMask]="true" formControlName="password"></p-password>
              <label for="password">Password</label>
            </p-floatlabel>
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
            </div>
          </span>
        </div>

        <div class="form-group about-private">
          Not your computer? Use a private browsing window to sign in.<br />
          <a href="https://support.google.com/accounts?p=signin_privatebrowsing&amp;hl=en">Learn more</a>
        </div>

        <div class="form-group">
          <p-button (click)="onSubmit()" [disabled]="loading$ | async" label="Sign In">
            <span *ngIf="loading$ | async" class="spinner-border spinner-border-sm mr-1"></span>
          </p-button>
        </div>
      </div>
    </form>
  </div>
</div>
